/*  IMPORT FONT  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* CSS VARIABLE */
:root {
  /* COLOR  */
  --body-color: #fff;
  --primary-color: rgb(0, 159, 194);
  --primary-color-alt: #555859;

  --text-hover: #f36f2c;

  --button-color: #f36f2c;
  --button-color-alt: #b2d600;

  --text-color-alt: #fff;
  --text-color-primary: black;
  --text-color-second: rgb(0, 159, 194);

  --background-overlay: rgba(0, 0, 0, 0.7);

  /* BOX-SHADOW */
  --light-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  /* FONT-FAMILY */
  --body-font: "Open Sans", sans-serif;

  /* FONT SIZE */
  --big-font-size: 30px;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.72917rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* FONT WEIGHT */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* LINE HEIGHT */
  --normal-line-height: 1.04167rem;

  /* MARGIN */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* Z-INDEX */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-model: 1000;
}
/* ================ RESPONSIVE CSS VARIABLE ============== */
/* Large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}
/* BASE CSS */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  /* background-color: var(--primary-color); */
  color: var(--text-color);
  position: relative;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  min-width: 100%;
  height: auto;
}

/* Key FRAMES */

/* FADE ANIMATION */
/* FORM LEFT TO RIGHT (LR) */
@keyframes fadeOut-LR {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-100vw);
  }
}
@keyframes fadeIn-LR {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0px);
  }
}
/* FROM TOP TO DOWN (TD) */
@keyframes fadeOut-TD {
  from {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }
  to {
    transform: translateY(45%);
    opacity: 0;
    visibility: hidden;
  }
}
/* FROM DOWN TO TOP  */
@keyframes fadeIn-DT {
  from {
    transform: translateY(45%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

/* REUSEABLE CSS */
#body-overlay {
}
.body-overlay-active {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: var(--background-overlay);
}
.section {
  padding: 35px 0;
}

.section__fw {
  font-weight: 800;
}

.flex-box-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-box-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.section__title {
  font-size: var(--big-font-size);
  text-transform: uppercase;
  line-height: 35px;
}

.section__subtitle {
  -webkit-text-fill-color: var(--text-color-alt);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--text-color-primary);
  font-weight: 800;
}

/* LAYOUT */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* MAIN CSS */
#head {
  background-color: var(--body-color);
  box-shadow: var(--light-box-shadow);
}
/* NAVIGATION */
.nav__container {
  position: fixed;
  top: 0;
  padding: 1.688rem 0.813rem;
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--body-color);
  z-index: var(--z-model);
  transform: translateX(-1000vw);
  animation: fadeOut-LR 0.3s ease-out;
}

.nav-show {
  transform: translateX(0px);
  animation: fadeIn-LR 0.3s ease-out;
}

.nav__logo {
  display: block;
  width: 150px;
  margin-bottom: var(--mb-1-5);
  transform: translateY(0px);
  opacity: 1;
  transition: 0.2s linear;
}
.nav-logo-show {
  transform: translateY(-30px);
  opacity: 0;
  transition: 0.2s linear;
}
.nav__list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.nav__link {
  --tw-text-opacity: 1;
  font-weight: 700;
  font-size: var(--h3-font-size);
  color: rgb(85 88 89 / var(--tw-text-opacity));
}

.nav__link:hover {
  color: var(--button-color);
  transition: 0.2s linear;
}

.nav__toggle {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-self: flex-end;
  font-size: var(--h1-font-size);
  font-weight: 100;
  cursor: pointer;
  padding: 0px 10px 0px 10px;
}

.nav__button {
  color: var(--body-color);
  background-color: var(--button-color);
  font-size: var(--normal-font-size);
  padding: 0.5208333333rem;
  border-radius: 7px;
  line-height: var(--normal-line-height);
}
.nav__button:hover {
  background-color: var(--body-color);
  border: solid 1px var(--button-color);
}
/* HEADER  */
#head {
  position: fixed;
  z-index: var(--z-fixed);
  top: 0;
}

.head__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.78125rem;
  z-index: var(--z-fixed);
}

.head__menu {
  flex: 1;
}

.head__menu i {
  font-size: 1.5625rem;
  line-height: 2.08333rem;
}

.head__logo {
  flex: 1;
  width: 33%;
}

.head__search {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.head__search a {
  color: var(--button-color);
  font-size: var(--normal-font-size);
  font-weight: 700;
}

/* MAIN BODY  */
#main {
  margin-top: 65px;
}
#banner {
  overflow: hidden;
  position: relative;
}
.banner__container {
  background-color: var(--primary-color);
}

.banner__data {
  display: flex;
  flex-direction: column;
  gap: 1.04167rem;
}
.banner__header {
  font-size: var(--big-font-size);
  color: var(--body-color);
  line-height: 2rem;
}

.banner__content {
  padding: 20px 0 20px 0;
}

.banner__title {
  font-weight: 800;
}

.banner__subtitle {
  line-height: 2.5rem;
  -webkit-text-fill-color: var(--primary-color);
  -webkit-text-stroke-width: 1px;
  font-weight: 800;
  -webkit-text-stroke-color: var(--body-color);
}

.banner__service-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.04167rem 0 1.04167rem 0;
  gap: 0.8rem;
  color: var(--body-color);
  line-height: 25px;
}
.banner__service-icon {
  width: 45px;
  height: 45px;
  position: relative;
  padding: 8px;
  background-color: var(--body-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner__service-icon div {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-img {
  width: 100%;
  height: 100%;
  filter: invert(85%) sepia(15%) saturate(2054%) hue-rotate(173deg)
    brightness(80%) contrast(100%);
}
.banner__service {
  display: grid;
  column-gap: 1.5625rem;
  grid-template-columns: max-content repeat(1, 1fr);
  margin-top: 1.04167rem;
}
.banner__button {
  margin-top: 1.5625rem;
  padding: 12px 17px 12px 17px;
  background-color: var(--button-color);
  display: flex;
  width: fit-content;
}
.banner__button a {
  color: var(--body-color);
  font-weight: 700;
  flex: 1;
}

.banner-img {
  transform: translateY(20%);
  position: relative;
  z-index: 1;
}
.line__wrap {
  --box-height: 95.289vh;
}
.line__wrap .line:nth-child(1) {
  position: absolute;
  width: 1.04167rem;
  height: calc(var(--box-height) * 0.66354);
  top: 54%;
  left: 22%;
  background-color: var(--primary-color-alt);
}
.line__wrap .line:nth-child(2) {
  position: absolute;
  width: 1.04167rem;
  height: calc(var(--box-height) * 0.333);
  top: 56%;
  left: 36%;
  background-color: var(--button-color-alt);
}
.line__wrap .line:nth-child(3) {
  position: absolute;
  width: 1.04167rem;
  height: calc(var(--box-height) * 0.23625);
  top: 66%;
  left: 58.55%;
  background-color: var(--button-color);
}

/*  REASON SECTION  */
#reason {
  background-color: var(--body-color);
  z-index: 1;
}

.reason__container {
  width: 100vw;
}

.reason__title {
  font-size: var(--big-font-size);
  text-transform: uppercase;
  line-height: 35px;
}

.reason__title h1 {
  font-weight: 800;
}
.reason__title h2 {
  -webkit-text-fill-color: var(--text-color-alt);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--text-color-primary);
  font-weight: 800;
}

.reason__icon {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 78px;
  height: 78px;
  background-color: var(--primary-color);
  border-radius: 50%;
  padding: 13px;
  margin-bottom: var(--mb-0-5);
  border: solid 1px var(--primary-color);
}
.reason__list {
  margin-top: 1.5625rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.04167rem;
  row-gap: 1.04167rem;
}
.reason__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
  animation: fadeOut-TD 0.7s ease-out;
}
.reason-list-animation-deactive {
  visibility: visible;
  animation: fadeOut-TD 0.7s ease-out;
}
.reason-list-animation-active {
  visibility: visible;
  animation: fadeIn-DT 0.7s ease-out;
}
.reason__icon::after {
  position: absolute;
  content: "";
  left: -6px;
  top: -6px;
  width: 88px;
  height: 88px;
  background-color: transparent;
  border-radius: 9999px;
  border: 1px solid var(--primary-color);
}

.reason__icon-img {
  filter: brightness(0) invert(1);
}

.reason__desc {
  text-align: center;
  line-height: 27px;
  font-weight: 600;
  font-size: 14px;
}

/* TRAINING ZONE  */

.slide-btn-container {
  gap: 10px;
}
.slide-btn {
  font-size: 30px;
  color: #333;
  position: relative;
  opacity: 0.6;
  padding: 5px 10px;
  border-radius: 100rem;
  border: solid 1px rgb(156, 156, 156);
}
.slide-btn:hover {
  background-color: var(--primary-color);
  color: var(--body-color);
  transition: 0.2s linear;
  opacity: 1;
}
/* .zone__btn {
  font-size: 30px;
  color: #333;
  position: relative;
  opacity: 0.6;
  padding: 5px 10px;
  border-radius: 100rem;
  border: solid 1px rgb(156, 156, 156);
} */
/* .zone__btn:hover {
  background-color: var(--primary-color);
  color: var(--body-color);
  transition: 0.2s linear;
  opacity: 1;
} */
.zone__data {
  margin-top: 1.04167rem;
  position: relative;
}
.zone__img-container {
  overflow: hidden;
}
.zone-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.4s ease-out;
}
.zone-img:hover {
  transform: scale(1.05) rotate(2deg);
}
@keyframes slideRight {
  from {
    transform: translateX(70%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.zone-box-appear {
  animation: slideRight 1.2s ease-out;
  opacity: 1;
}
.zone__box-desc {
  width: 84.21875%;
  margin-left: auto;
  position: relative;
  margin-top: -7.1291666667rem;
  background-color: var(--body-color);
  transition: 0.7s linear;
}
.zone__box-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.zone__box-title {
  padding: 0.5989583333rem 1.5625rem;
  line-height: 1.40625rem;
  color: var(--body-color);
  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;
}
#zone-cardio .zone__box-title,
#zone-strength .zone__box-title,
#zone-group .zone__box-title {
  background-color: var(--primary-color);
}
#zone-cardio .zone__box-content h2,
#zone-group .zone__box-content h2,
#zone-strength .zone__box-content h2 {
  color: var(--primary-color);
}
#zone-functional .zone__box-title,
#zone-stretching .zone__box-title {
  background-color: var(--button-color-alt);
}
#zone-functional .zone__box-content h2,
#zone-stretching .zone__box-content h2 {
  color: var(--button-color-alt);
}
#zone-lady .zone__box-title {
  background-color: #f395a9;
}
#zone-lady .zone__box-content h2 {
  color: #f395a9;
}
#zone-fw .zone__box-title {
  background-color: #f36f2c;
}
#zone-fw .zone__box-content h2 {
  color: #f36f2c;
}

.zone__box-content {
  padding: 0.78125rem 0.78125rem 1.5625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.zone__box-content h2 {
  margin-top: 2.29167rem;
  font-weight: 800;
  font-size: var(--big-font-size);
  text-transform: uppercase;
}
.zone__box-content p {
  font-size: 15px;
  line-height: 1.30208rem;
}

/* MEMBERSHIP */
.membership {
  padding-bottom: 2.0833333333rem;
}
.membership__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
.membership__img {
}
#one-month {
  background-color: var(--primary-color);
}
#six-month {
  background-color: var(--button-color-alt);
}
#twe-month {
  background-color: var(--button-color);
}

.membership__content {
}
.img-wrap {
  width: 80%;
  height: 80%;
  margin-right: auto;
  margin-left: auto;
}
.membership-img {
  width: 100%;
  height: 100%;
}

.membership__details {
  width: 93%;
  position: relative;
  background-color: var(--body-color);
  margin-top: -6.57776rem;
  margin-left: auto;
  margin-right: auto;
}

.membership-detail__title {
  padding: 0.5208333333rem 1.0416666667rem;
  background-color: #283228;
  color: var(--body-color);
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 700;
  line-height: 1.5625rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.membership-detail__title h2 {
  font-size: 19px;
  font-weight: 700;
  line-height: 1.5625rem;
}

.membership-detail__content {
  padding: 1.0416666667rem 0.78125rem;
  font-size: 15px;
}
.detail-list {
  margin-bottom: var(--mb-1);
}

.detail-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-top: 0.52083rem;
}

.mem-item-icon {
  width: 20px;
  height: 20px;
}

.membership-register__btn {
  padding: 0.5208333333rem;
  background-color: var(--button-color);
  text-align: center;
  cursor: pointer;
}
.register-btn {
  font-size: 19px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--body-color);
  line-height: 1.71875rem;
}
.membership-register__btn:hover {
  background-color: var(--primary-color-alt);
}
/* ADVERTISE */
.advertise__scroll-banner {
  display: flex;
  overflow: hidden;
  padding: 1.6145833333rem 0;
}
.scroll-banner__content {
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 1.9791666667rem;
  white-space: nowrap;
  z-index: 1;
  animation: scrollInfinity 20s linear infinite;
}
@keyframes scrollInfinity {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-110rem);
  }
}
.scroll-banner__content::before {
  content: "";
  height: 0.2604166667rem;
  background-color: var(--primary-color);
  width: 4.1666666667rem;
  margin-left: 1.5625rem;
  margin-right: 1.5625rem;
}

.advertise__data {
  background-color: var(--primary-color);
}
.advertise__title {
  font-size: 25px;
  color: var(--body-color);
}
.advertise__title .section__subtitle {
  -webkit-text-fill-color: var(--primary-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--text-color-alt);
}

.advertise__desc {
  color: var(--text-color-alt);
  line-height: 1.40625rem;
  margin-top: 1.04167rem;
  font-size: 15px;
}

.advertise__img {
  margin-top: 1.04167rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.advertise__img div {
  width: 200px;
  height: 200px;
}
.advertise__download {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  margin-top: 4.08333rem;
}
.advertise__download div {
  width: 140px;
  height: 50px;
}

/* RELATED */

.related__data {
  margin-top: 2.08333rem;
}

.related__content {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.related__content div {
  overflow: hidden;
}
.related__content:hover .related__art-title {
  transition: 0.2s linear;
  color: var(--button-color);
}
.related__content:hover .related__img {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.related__content div {
  background-color: rgb(243 243 243 / 1);
}
.related__img div > img {
  height: 200px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}
.related__desc {
  padding: 1.0416666667rem;
}
.related__art-title {
  line-height: 1.66667rem;
  font-size: 1.25rem;
  font-weight: 700;
}
.related__art-desc {
  line-height: 1.5625rem;
  font-size: 0.9375rem;
  font-weight: 400;
  margin-top: 15px;
}
.related__readmore {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 15px;
  align-items: center;
  width: 100%;
  text-align: right;
  color: var(--primary-color-alt);
  font-size: 0.72917rem;
  font-weight: 700;
}
.related__readmore:hover {
  color: var(--button-color);
}
.related__readmore i {
  color: var(--button-color);
}

/* FOOTER  */
#footer {
  padding-bottom: 0;
}
.footer__title {
  color: var(--primary-color-alt);
  padding-bottom: 2.8645833333rem;
  padding-right: 0.78125rem;
  padding-left: 0.78125rem;
}
.slide-right {
  animation-delay: 10000ms;
  animation: slideRight 1.3s ease-in-out;
}
.footer__title .section__fw {
  animation-delay: 100ms;
}
.footer__title .section__subtitle {
  animation-delay: 200ms;
}

.footer__social {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  padding: 0.78125rem;
}
.footer__social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__social-icon i {
  color: var(--primary-color);
  background-color: var(--body-color);
  padding: 13px 15px;
  border-radius: 100rem;
}

.footer__branches {
  padding-top: 1.5625rem;
}

.footer__subtitle {
  color: var(--primary-color-alt);
  font-size: 1.3020833333rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 0.78125rem;
  text-transform: uppercase;
}

.branch-item {
  font-size: 0.9375rem;
  line-height: 1.875rem;
  font-weight: 400;
}
.footer__about {
  margin-top: 1.5625rem;
}

.footer__about-list {
  column-count: 2;
  column-gap: 1.5625rem;
}
.footer__about-item {
  font-size: 0.9375rem;
  line-height: 1.875rem;
  font-weight: 400;
  text-transform: uppercase;
}
.footer__contact {
  margin-top: 1.5625rem;
}
.footer__contact span {
  font-size: 0.9375rem;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 10px;
  margin-top: 0.78125rem;
}

.footer__contact span > i {
  color: var(--primary-color);
}

.footer__download {
  margin-top: 1.5625rem;
  display: flex;
}
.footer__download div {
  width: 140px;
  height: 50px;
}
.footer__approve {
  width: 140px;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 15px;
  margin-top: 1.5625rem;
}
.footer__img {
  margin-top: 1.5625rem;
  object-fit: cover;
}

.footer__license {
  padding-bottom: 0.9895833333rem;
  padding-top: 0.9895833333rem;
  padding-right: 0.78125rem;
  padding-left: 0.78125rem;
  background-color: var(--primary-color-alt);
}
.license__content {
  line-height: 1.14583rem;
  color: var(--body-color);
  font-size: 14px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 330px) {
  #main {
    margin-top: 54px;
  }
}
@media screen and (max-width: 320px) {
  #main {
    margin-top: 58px;
  }
  .banner__service {
    column-gap: 1.4rem;
  }
  .line__wrap .line:nth-child(1) {
    top: 63%;
    left: 23%;
  }
  .line__wrap .line:nth-child(2) {
    top: 65%;
    height: calc(var(--box-height) * 0.312);
  }
  .line__wrap .line:nth-child(3) {
    top: 70%;
  }
  .membership__details {
    margin-top: -5.7rem;
  }
  .advertise__img div {
    width: 120px;
    height: 120px;
  }
}
/* MEDIUM SCREEN */
@media screen and (min-width: 540px) {
  #main {
    margin-top: 84px;
  }
  .banner__service {
    grid-template-columns: 1fr 1fr;
  }
  .banner__service-item {
    gap: 1.2rem;
  }
  .line__wrap .line:nth-child(1) {
    top: 47%;
    left: 21%;
  }
  .line__wrap .line:nth-child(2) {
    top: 50.5%;
    height: calc(var(--box-height) * 0.278);
  }
  .line__wrap .line:nth-child(3) {
    top: 57%;
  }
  .reason__desc {
    width: 143px;
  }
  .zone__box-desc {
    margin-top: -8.129167rem;
  }
}
/* PC screen */
@media screen and (min-width: 1024px) {
  #head {
    width: 100vw;
  }
  .head__logo div {
    width: 140px;
    height: 45px;
  }
  .head__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
