/*  IMPORT FONT  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* CSS VARIABLE */
:root {
  /* COLOR  */
  --body-color: #fff;
  --primary-color: rgb(0, 159, 194);
  --text-hover: #f36f2c;
  --button-color: #f36f2c;
  --button-color-alt: #b2d600;
  --text-color-alt: #fff;
  --text-color-primary: black;
  --text-color-second: rgb(0, 159, 194);
  --background-overlay: rgba(0, 0, 0, 0.7);

  /* BOX-SHADOW */
  --light-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  /* FONT-FAMILY */
  --body-font: "Open Sans", sans-serif;

  /* FONT SIZE */
  --big-font-size: 30px;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.72917rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* FONT WEIGHT */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* LINE HEIGHT */
  --normal-line-height: 1.04167rem;

  /* MARGIN */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* Z-INDEX */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-model: 1000;
}
/* ================ RESPONSIVE CSS VARIABLE ============== */
/* Large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}
/* BASE CSS */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  /* background-color: var(--primary-color); */
  color: var(--text-color);
  position: relative;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  min-width: 100%;
  height: auto;
}

/* Key FRAMES */
@keyframes fadeOut {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-100vw);
  }
}
@keyframes fadeIn {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0px);
  }
}

/* REUSEABLE CSS */
#body-overlay {
}
.body-overlay-active {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: var(--background-overlay);
}
.section {
  padding: 35px 0;
}

.section__title {
  font-size: var(--h1-font-size);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}
.section__title,
.section__subtitle {
  text-align: center;
}

/* LAYOUT */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* MAIN CSS */
#head {
  background-color: var(--body-color);
  box-shadow: var(--light-box-shadow);
}
/* NAVIGATION */
.nav__container {
  position: fixed;
  top: 0;
  padding: 1.688rem 0.813rem;
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--body-color);
  z-index: var(--z-model);
  transform: translateX(-1000vw);
  animation: fadeOut 0.3s ease-out;
}

.nav-show {
  transform: translateX(0px);
  animation: fadeIn 0.3s ease-out;
}

.nav__logo {
  display: block;
  width: 150px;
  margin-bottom: var(--mb-1-5);
  transform: translateY(0px);
  opacity: 1;
  transition: 0.2s linear;
}
.nav-logo-show {
  transform: translateY(-30px);
  opacity: 0;
  transition: 0.2s linear;
}
.nav__list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.nav__link {
  --tw-text-opacity: 1;
  font-weight: 700;
  font-size: var(--h3-font-size);
  color: rgb(85 88 89 / var(--tw-text-opacity));
}

.nav__link:hover {
  color: var(--button-color);
  transition: 0.2s linear;
}

.nav__toggle {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-self: flex-end;
  font-size: var(--h1-font-size);
  font-weight: 100;
  cursor: pointer;
  padding: 0px 10px 0px 10px;
}

.nav__button {
  color: var(--body-color);
  background-color: var(--button-color);
  font-size: var(--normal-font-size);
  padding: 0.5208333333rem;
  border-radius: 7px;
  line-height: var(--normal-line-height);
}
.nav__button:hover {
  background-color: var(--body-color);
  border: solid 1px var(--button-color);
}
/* HEADER  */
#head {
  position: fixed;
  z-index: var(--z-fixed);
  top: 0;
}

.head__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.78125rem;
  z-index: var(--z-fixed);
}

.head__menu {
  flex: 1;
}

.head__menu i {
  font-size: 1.5625rem;
  line-height: 2.08333rem;
}

.head__logo {
  flex: 1;
  width: 33%;
}

.head__search {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.head__search a {
  color: var(--button-color);
  font-size: var(--normal-font-size);
  font-weight: 700;
}

/* MAIN BODY  */
#main {
  margin-top: 65px;
}
#banner {
  overflow: hidden;
}
.banner__container {
  background-color: var(--primary-color);
}

.banner__data {
  display: flex;
  flex-direction: column;
  gap: 1.04167rem;
}
.banner__header {
  font-size: var(--big-font-size);
  color: var(--body-color);
  line-height: 2rem;
}

.banner__content {
  padding: 20px 0 20px 0;
}

.banner__title {
  font-weight: 800;
}

.banner__subtitle {
  line-height: 2.5rem;
  -webkit-text-fill-color: var(--primary-color);
  -webkit-text-stroke-width: 1px;
  font-weight: 800;
  -webkit-text-stroke-color: var(--body-color);
}

.banner__service-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.04167rem 0 1.04167rem 0;
  gap: 0.8rem;
  color: var(--body-color);
  line-height: 25px;
}
.banner__service-icon {
  width: 45px;
  height: 45px;
  position: relative;
  padding: 8px;
  background-color: var(--body-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner__service-icon div {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-img {
  width: 100%;
  height: 100%;
  filter: invert(85%) sepia(15%) saturate(2054%) hue-rotate(173deg)
    brightness(80%) contrast(100%);
}
.banner__service {
  display: grid;
  column-gap: 1.5625rem;
  grid-template-columns: max-content repeat(1, 1fr);
  margin-top: 1.04167rem;
}
.banner__button {
  margin-top: 1.5625rem;
  padding: 12px 17px 12px 17px;
  background-color: var(--button-color);
  display: flex;
  width: fit-content;
}
.banner__button a {
  color: var(--body-color);
  font-weight: 700;
  flex: 1;
}

.banner-img {
  transform: translateY(20%);
  position: relative;
  z-index: 1;
}
.line__wrap {
  --box-height: 95.289vh;
}
.line__wrap .line:nth-child(1) {
  position: absolute;
  width: 18px;
  height: calc(var(--box-height) * 0.66354);
  top: 54%;
  left: 22%;
  background-color: #555859;
}
.line__wrap .line:nth-child(2) {
  position: absolute;
  width: 18px;
  height: calc(var(--box-height) * 0.333);
  top: 56%;
  left: 36%;
  background-color: var(--button-color-alt);
}
.line__wrap .line:nth-child(3) {
  position: absolute;
  width: 18px;
  height: calc(var(--box-height) * 0.23625);
  top: 66%;
  left: 58.55%;
  background-color: var(--button-color);
}

/*  REASON SECTION  */
#reason {
  background-color: var(--body-color);
  position: absolute;
  z-index: 1;
}

.reason__container {
  width: 100vw;
}

.reason__title {
  font-size: var(--big-font-size);
  text-transform: uppercase;
  line-height: 35px;
}
.reason__title h1 {
  font-weight: 800;
}
.reason__title h2 {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-weight: 800;
}

.reason__icon {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 78px;
  height: 78px;
  background-color: var(--primary-color);
  border-radius: 50%;
  padding: 13px;
  margin-bottom: var(--mb-0-5);
  border: solid 1px var(--primary-color);
}
.reason__list {
  margin-top: 1.5625rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.04167rem;
  row-gap: 1.04167rem;
}
.reason__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reason__icon::after {
  position: absolute;
  content: "";
  left: -6px;
  top: -6px;
  width: 88px;
  height: 88px;
  background-color: transparent;
  border-radius: 9999px;
  border: 1px solid var(--primary-color);
}

.reason__icon-img {
  filter: brightness(0) invert(1);
}

.reason__desc {
  text-align: center;
  line-height: 35px;
  font-weight: 600;
  font-size: 14px;
}
